---
title: 关于
permalink: about
layout: default
---
<div class="p-about">
  <div class="events-area flex items-center flex-column">
    <h1 class="title">介绍</h1>
    {% include star.html %}
    <div class="events">
      <div>本站基于Web3设计，您的评论和留言都将提交至区块链中</div>
    </div>
  </div>
</div>
<div class="intro">
  <div class="intro-container flex items-center flex-column">
    <img class="avatars" src="assets/img/avatars.svg" alt="">
    <h1 class="title">Winter</h1>
    {% include star.html %}
    <p class="sub-title mt-20">Web Developer - Block Chain Lover</p>
  </div>
</div>
<div class="p-about">
  <div class="events-area flex items-center flex-column">
    <h1 class="title">动态</h1>
    {% include star.html %}
    <div class="events">
      <div>本人在2023年10月已关闭站点samyoc.com，现将samyoc.com的内容转移至GitHub(winter100.com)供大家学习访问。并持续更新和优化。</div>
    </div>
  </div>
</div>
{% include blackhole.html %}