---
layout: default
title: 咖啡
sitemap: true
permalink: /reward
---

<div class="p-reward">
  <div class="reward-main">
    <div class="flex flex-column items-center">
      <p class="tip">如果你喜欢本站的内容，可以刷一杯咖啡呀☕️</p>
      {% include star.html %}
    </div>
    <div class="buycoffee flex flex-wrap">
      {% for reward in site.rewards %}
      <div class="coffee-outter">
        <div class="coffee-box flex align-items">
          <div class="coffee-addr">
            <h4 class="for-name flex">
              <img class="coffee-logo" alt="{{reward[1].name}}" src="/{{ reward[1].logo }}" height="40" width="40">
              <span style="line-height: 40px;">{{reward[1].name}}</span>
            </h4>
            <div class="excerpt" style="word-break: break-all;">{{reward[1].addr}}</div>
          </div>
          <div class="coffee-qr">
            <img alt="{{reward[1].name}} QR" src="/{{ reward[1].qr }}" height="86" width="86">
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="experience">
    <div>美丽总会伴随危险，但我们应该勇敢追寻星辰大海</div>
  </div>
</div>

<script src="{{ site.baseurl }}/assets/js/blockhole.js"></script>