<footer class="bg-white">
  <div class="flex app-footer py-20 items-center">
    <div class="flex">
      {% include logo.html %}

      <div class="flex items-center ml-50">
        <a class="link" href="mailto:aiyld@hotmail.com">
          <i class="iconfont icon-email text-24 hover:text-blue-500"></i>
        </a>

        <a class="link ml-10" href="https://github.com/aiyld" target="_blank" class="ml-10">
          <i class="iconfont icon-github text-22 hover:text-blue-500"></i>
        </a>
      </div>
    </div>

    <div class="flex ml-50 flex-1">
      {% include nav.html nav=site.nav-left %}
      {% include nav.html nav=site.nav-right %}
    </div>

    <div class="text-12 ml-50">©2023 winter100.com. All rights reserved.</div>
  </div>

  <div class="text-12 py-10 friend" style="background-color: #f3f3f3;">
    <div class="app-footer">
      <div class="text-blue-500">
        <span class="text-gray-500">友情链接：</span>
        <a href="https://www.winterccc.com" target="_blank">WinterCCC</a>
      </div>
    </div>
  </div>
</footer>