.dark {
  --line-color: #363636;
  --line: 1px solid var(--line-color);
  --bg-color: #292929;
  --bg-element: black;
  --text-title: #e7e7e7;
  --text-level1: #b9b9b9;
  --themeColor: #ed3da1;
  --themeColorLevel1: #241b20;

  background-color: black;
  background-image: url(/assets/img/star.png);
  background-repeat: repeat;

  .page-header {
    background-image: url(/assets/img/star.png);
    background-repeat: repeat;

    .nav-ul li {
      a {
        color: var(--text-title);
      }
      &.active {
        a { color: var(--themeColor) };
      }
    }
  }
  footer {
    color: var(--text-level1);
    &.bg-white {
      background-color: transparent!important;
      a {
        color: var(--text-title);
      }
    }
    .friend {
      border-top: var(--line);
      span {color: var(--text-title)!important;}
      background-color: black !important;
    }
  }

  .intro {
    background-color: #002b60;
    color: var(--text-title);
    padding: 90px 20px;
    .title {
      color: var(--text-title);
    }
    .divider-custom-line {
      background-color: var(--text-title);
    }
  }

  .p-post .code-content {
    color: var(--text-level1);
    p {
      color: var(--text-title);
    }
    blockquote {
      background-color: var(--bg-color);
      border-left: 6px solid var(--line-color);
      color: var(--text-level1);
    }
  }

  .p-page {
    background-color: transparent;
  }
}
