.discuss-wrapper {
  margin-top: 20px;
  border: var(--line);
  background-color: var(--bg-element);
  border-radius: var(--radius);
  padding-bottom: 20px;

  .discuss-title-area {
    .dt-title {
      font-size: 16px;
      font-weight: 500;
      color: var(--text-title);
      padding-left: 20px;
      border-top: var(--line);
      border-bottom: var(--line);
      padding: 10px 0px 10px 20px;
    }
  }

  .discuss-comment {
    color: var(--text-title);
    font-size: 15px;
  }

  .discuss-submit {
    padding: 0px 0px 20px;
    position: relative;

    .discuss-dialog {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      .discuss-dialog-item {
        height: 100%;
        width: 100%;
        background-color: rgba(27, 27, 27, 0.87);
        display: flex;
        align-items: center;
        justify-content: center;
        .discuss-dialog-item-inner {
          border: var(--line);
          padding: 20px;
          border-radius: 10px;
          background-color: var(--bg-element);
          margin: 0 20px;
          .discuss-dialog-title {
            font-size: 16px;
            text-align: center;
            padding-bottom: 20px;
            font-weight: 500;
          }
          .discuss-dialog-message {
            font-size: 14px;
          }

          .discuss-dialog-btns {
            text-align: center;
            padding-bottom: 10px;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            button {
              margin-top: 10px;
              line-height: 30px;
              border-radius: 5px;
              outline: none;
              border: var(--line);
              padding: 0 10px;
              cursor: pointer;
              margin-left: 10px;
              display: inline-flex;
              align-items: center;
              justify-content: center;
              &:first-child {
                margin-left: 0;
              }
              svg, img {
                width: 20px;
                height: 20px;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }

    .discuss-toast {
      position: absolute;
      top: 30px;
      margin: auto;
      left: 0px;
      right: 0px;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
  
      .discuss-toast-item {
        background-color: #067b06;
        padding: 5px 10px;
        border-radius: 10px;
        margin-top: 20px;
        &:first-child {
          margin-top: 0;
        }
        &.error {
          background-color: #ba0000
        }
        p {
          color: white;
        }
      }
    }

    .input-title {
      color: var(--text-title) !important;
      font-size: 16px !important;
      font-weight: 500 !important;
      padding-bottom: 10px;
      border-bottom: var(--line);
      padding-left: 20px;
      padding-top: 10px;
    }

    .input-subtitle {
      font-size: 14px !important;
      font-weight: 400 !important;
      color: var(--themeColorLevel2) !important;
      padding: 20px;
      padding-bottom: 0;
    }

    .input-name {
      border: var(--line);
      border-radius: 5px;
      overflow: hidden;
      background-color: var(--bg-color);
      margin: 0 20px;
      margin-top: 20px;

      input {
        width: 100%;
        line-height: 30px;
        text-indent: 10px;
        outline: none;
        padding: 0;
        border: 0;
        background-color: transparent;
        color: var(--text-title);
      }
    }

    .input-comment {
      margin-top: 20px;
      border: var(--line);
      border-radius: 5px;
      overflow: hidden;
      padding: 10px;
      background-color: var(--bg-color);
      height: 120px;
      margin-left: 20px;
      margin-right: 20px;

      textarea {
        width: 100%;
        line-height: 22px;
        outline: none;
        padding: 0;
        border: 0;
        background-color: transparent;
        color: var(--text-title);
        height: 100%;
      }
    }

    .input-submit {
      margin-top: 20px;
      display: flex;
      align-items: center;
      padding: 0 20px;
      position: relative;

      .flex-empty {
        flex: 1;
      }

      button {
        min-width: 120px;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        &:last-child {
          margin-left: 20px;
        }
      }

      .metamask {
        background-color: #be7b00;
        svg { height: 24px; margin: -3px 10px -3px 0;}
      }
    }

    .input-msg {
      display: flex;
      justify-content: right;
      align-items: center;
      color: orange;
      font-size: 12px;
      margin-top: 10px;
      padding: 0 20px;

      .icon-loading {
        width: 6px;
        height: 6px;
        margin-right: 5px;
      }
    }
  }

  .discuss-list {
    .discuss-item {
      border-bottom: var(--line);
      margin-top: 20px;
      padding: 0 20px;
      padding-bottom: 20px;

      .chain-logo {
        height: 14px;
        padding: 3px;
        margin-left: 5px;
        line-height: 14px;
        svg {
          height: 14px!important;
          width: 14px!important;
        }
      }

      .discuss-chain {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 10px;
        font-size: 12px;
        .discuss-from {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          color: var(--text-level1);
          margin-right: 20px;
          svg {
            height: 14px!important;
            width: 14px!important;
            margin-right: 5px;
          }
        }
      }

      .discuss-meta {
        padding-bottom: 10px;
        display: flex;
        align-items: center;

        .discuss-user {
          font-size: 14px;
          font-weight: 500;
          color: var(--themeColor);
        }

        a.discuss-user {
          // text-decoration: none;
          // border-bottom: 1px solid var(--themeColor);
          // display: inline-block;
        }

        .discuss-time {
          font-size: 12px;
          color: #b4b4b4;
          margin-left: 10px;
        }
      }

      .discuss-txhash {
        color: var(--themeColor);
        font-size: 12px;
        background-color: var(--themeColorLevel1);
        display: inline-block;
        padding: 3px 10px;
        border-radius: 5px;
      }

      .discuss-children {
        border-top: var(--line);
        padding-left: 20px;
        font-size: 13px;
        margin-top: 10px;
        padding-top: 10px;

        .discuss-user {
          font-size: 13px;
        }
      }

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
    .discuss-empty {
      text-align: center;
      padding: 40px 20px 20px;
      svg {
        margin: auto;
        width: 80px;
        height: 80px;
        path {
          fill: var(--text-title);
        }
      }
      .empty-tip {
        margin-top: 20px;
        font-size: 12px;
        color: var(--text-level1);
      }
    }
  }
}