.p-post {
  .article {
    border: var(--line);
    background-color: var(--bg-element);
    padding: 20px;
    border-radius: var(--radius);

    .article-title {
      .article-title-text {
        font-size: 32px;
        font-weight: 500;
        padding-bottom: 16px;
      }
      .at-meta {
        padding-bottom: 20px;
      }
    }
  }
  .question-relative-item {
    border-bottom: var(--line);
    padding-bottom: 10px;
    margin-bottom: 10px;
    .item-title {
      font-size: 14px;
      color: var(--text-title);
    }
    .item-answer {
      margin-top: 5px;
      font-size: 12px;
      color: var(--themeColor);
    }
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0px;
      margin-bottom: 0px;
    }
  }
}