.p-reward {
  .buycoffee {
    margin-top: 20px;
  }
  .coffee-outter {
    padding: 10px;
    width: 580px;
  }
  .coffee-box {
    border: 1px solid #e8f3ec !important;
    border: 1px solid #e8f3ec !important;
    padding: 20px;
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 1px 1px 7px 0px #efefef;
  }
  .coffee-box .coffee-addr {
  
  }
  .coffee-box .coffee-addr .for-name {
    margin: 0;
  }
  .coffee-box .coffee-addr .excerpt {
    margin-top: 10px;
  }
  .coffee-box .coffee-logo {
    margin: 0;
    margin-right: 10px;
    height: 40px;
  }
  .coffee-box .coffee-qr {
    margin-left: 10px;
  }
  
}