.p-reward {
  .reward-main {
    min-height: calc(100vh - 190px - 300px);
    color: var(--themeColor);
  }
  .tip {
    font-size: 20px;
    color: var(--themeColor);
    padding-bottom: 20px;
    margin-top: 80px;
  }
  .buycoffee {
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .coffee-outter {
    padding: 10px;
    width: 580px;
    color: var(--text-title);
  }
  .coffee-box {
    border: var(--line);
    padding: 20px;
    background-color: var(--bg-element);
    border-radius: 13px;
    .coffee-addr {
      flex: 1;
    }
    .coffee-logo {
      margin: 0;
      margin-right: 10px;
      height: 40px;
      border-radius: 100%;
    }
    .coffee-qr {
      margin-left: 10px;
    }
    .excerpt {
      margin-top: 20px;
    }
  }
}