.root-reward {
  .page-header {
    padding: 5px 0;
  }
  .main {
    padding-top: 70px;
    min-height: calc(100vh - 200px);
  }
}

.p-reward {
  background-image: url(/assets/img/star.png);
  background-repeat: repeat;
  background-color: black;
  .reward-main {
    min-height: calc(100vh - 200px - 300px);
    color: var(--themeColor);
  }
  .divider-custom-line {
    background-color: var(--themeColor);
  }
  .tip {
    font-size: 20px;
    color: var(--themeColor);
    padding-bottom: 20px;
    margin-top: 80px;
  }
  .buycoffee {
    margin-top: 60px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .coffee-outter {
    color: var(--text-title);
    margin-bottom: 20px;
  }
  .coffee-box {
    border: var(--line);
    padding: 20px;
    background-color: var(--bg-element);
    border-radius: 13px;
    .coffee-addr {
      flex: 1;
    }
    .coffee-logo {
      margin: 0;
      margin-right: 10px;
      height: 40px;
      border-radius: 100%;
    }
    .coffee-qr {
      margin-left: 10px;
      background-color: var(--text-title);
      border-radius: 3px;
      height: 94px;
      img {
        padding: 4px;
      }
    }
    .excerpt {
      margin-top: 20px;
    }
  }
  .discuss-outter {
    margin-top: 60px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    .discuss-wrapper {
      margin-top: 0px;
    }
  }
}